---
layout: default
---
<div class="post">
  <article>
    <header class="about-intro">
      {% if page.profile and page.profile.image %}
        <div class="about-intro__photo">
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {%
            include figure.liquid
            loading="eager"
            path=profile_image_path
            class="img-fluid"
            sizes="150px"
            alt="Portrait of Jiajun He"
            cache_bust=true
          %}
        </div>
      {% endif %}

      <div class="about-intro__text">
        <h1 class="about-intro__name">Jiajun He</h1>
        <p class="about-intro__role">
          PhD Student in Machine Learning
          <span class="about-intro__place">University of Cambridge</span>
        </p>

        {% if page.social %}
          <div class="about-intro__social social">
            <div class="contact-icons">{% include social.liquid %}</div>
            {% if site.contact_note and site.contact_note != "" %}
              <div class="contact-note">{{ site.contact_note }}</div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </header>

    <div class="about-body">{{ content }}</div>
  </article>
</div>
